
/**  Basic Page CSS **/

.myancestor * {
  border: 0.5px solid lightblue;
}

body{
  position: relative;
}


.site-content {
	padding: 1em;

	@media screen and (min-width: $query__small) {
		padding: 2em;
	}
}

div#primary.content-area {
    /* padding: 40px; */
    padding-bottom: 40px;
    padding-top: 40px;
}
