

/**  Navbar Brand **/

header .navbar-brand {
  background: url(../framemacz/img/wisdompetlogo.svg);
  background-repeat: no-repeat;
  background-position: 15px 0;
  height: auto;
}

header .navbar-brand h1 {
  color: white;
  margin: 0;
  font-size: 1.8em;
  font-weight: 400;
  padding-left: 105px;
}

header .navbar-brand span.subhead {
  display: block;
  // font-family: $font__roboto;
  font-size: .6em;
  font-weight: 100;
}
